<% provide(:title, "Sign in") %>

<div class="top">
<div class="container marketing">
  <div class="row">
    <div class="col-lg-4">
    <% if signed_in? %>
      <% if current_user.admin? %>
        <section>
          <h3>Είστε συνδεμένος σαν Διαχειριστής</h3>
          <%= link_to "Εύρεση Χρήστη!", users_path, class: "btn btn-large btn-primary" %>
        </section>
        <h3>
        <%= link_to "Δημιουργία Χρήστη!", signup_path, class: "btn btn-large btn-primary" %>
        </h3>
        <h3>
        <%= link_to "Δημιουργία Σκηνής!", new_scene_path, class: "btn btn-large btn-primary" %>
        </h3>
      <% end %>
      <section><%= render 'shared/user_info' %></section>
  </div>
  <div class="col-lg-4">
          <h3>Οι Σκηνές μου</h3>
          <%= render 'shared/scene_feed' %>
  </div>
  <div class="col-lg-4">
          <h3>Φωτογραφίες και Κείμενα</h3>
          <%= render 'shared/post_feed' %>
  </div>
  <% else %>
    <div class="form-signin" role="form">
  	 <h2 class="form-signin-heading">
  		Είσοδος Χρήστη</h2>
    <%= form_for(:session, url: sessions_path, :html => {:class => "form-signin"}) do |f| %>

      <%= f.label :email, "Εισάγετε το email σας" %>
      <%= f.text_field :email, :class => "form-control" %>

      <%= f.label :password, "Κωδικός Πρόσβασης" %>
      <%= f.password_field :password, :class => "form-control" %>
 
      <%= f.label :remember_me, "Να με θυμάσαι!" %>  
      <%= f.check_box :remember_me, {checked: true}, params[:remember_me] %>  

      <%= f.submit "Είσοδος", class: "btn btn-large btn-primary" %>
    <% end %>

<!--     <p>Νέος Χρήστης; <%= link_to "Εγγραφείτε τώρα!", signup_path %></p> -->
    </div>
  <% end %>
</div>