<%= form_for(@template) do |f| %>
  <% if @template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@template.errors.count, "error") %> prohibited this template from being saved:</h2>

      <ul>
      <% @template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :number_of_areas %><br>
    <%= f.number_field :number_of_areas %>
  </div>
  <div class="field">
    <%= f.label :number_of_posts %><br>
    <%= f.number_field :number_of_posts %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
