<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @template.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @template.description %>
</p>

<p>
  <strong>Number of areas:</strong>
  <%= @template.number_of_areas %>
</p>

<p>
  <strong>Number of posts:</strong>
  <%= @template.number_of_posts %>
</p>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
