<div class="top">
  <div class="container">
    <div class="row">
      <h1>Όλες οι Σκηνές</h1>
      <%= form_tag(scenes_path, :method => "get", id: "search-form", :remote => true) do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Scenes" %>
        <%= submit_tag "Search"%>
      <% end %>
      <div id="scenes">
        <%= render 'scene' %>
      </div>
      <br>
      <%= link_to 'Δημιουργία Νέας Σκηνής', new_scene_path, class: "btn btn-large btn-primary" %>
    </div>
  </div>
</div>