<% provide(:title, 'All users') %>
<div class="top">
  <div class="container">
    <div class="row">
      <h3>Όλοι οι Χρήστες</h3>
      <%= form_tag(users_path, :method => "get", id: "search-form", :remote => true) do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
        <%= submit_tag "Search"%>
      <% end %>
      <div id="users">
        <%= render 'user' %>
      </div>
      <h3>
      <%= link_to "Δημιουργία Χρήστη!", signup_path, class: "btn btn-large btn-primary" %>
      </h3>
    </div>
  </div>
</div>