<% provide(:title, @user.name ) %>
<div class="top">
<div class="container marketing">
<div class="row">
  <div class="col-lg-4">
    <% if signed_in? %>
      <% if current_user.admin? %>
        <section>
          <h3>Είστε συνδεμένος σαν Διαχειριστής</h3>
          <%= link_to "Χρήστες", users_path, class: "btn btn-large btn-primary" %>
        </section>
<!--         <h3>
        <%= link_to "Δημιουργία Χρήστη!", signup_path, class: "btn btn-large btn-primary" %>
        </h3> -->
        <h3>
        <%= link_to "Σκηνές", scenes_path, class: "btn btn-large btn-primary" %>
        </h3>
        <h3>
        <%= link_to "Περιοχές", areas_path, class: "btn btn-large btn-primary" %>
        </h3>
        <h3>
        <%= link_to "Δημιουργία Δημοσίευσης!", new_micropost_path, class: "btn btn-large btn-primary" %>
        </h3>
      <% end %>
      <section><%= render 'shared/user_info' %></section>
      </div>
      <div class="col-lg-4">
        <h3>Οι Σκηνές μου</h3>
        <%= render 'shared/scene_feed' %>
      </div>
      
      
    <% else %>
      <div class="center hero-unit">
      <%= link_to "Γραφτείτε για να συμμετάσχετε!", signup_path,
                                class: "btn btn-large btn-primary" %>
      </div>
    <% end %>
</div>
</div>
</div>