
<li align=left id="<%= area_feed_item.id %>" class="feed">
  
  <hr class="featurette-divider">
  <div class="row featurette visible-lg">

    <% if area_feed_item.id != nil %>
      <h4><div class="content">Αριθμός:<%= area_feed_item.id %>
    <% end %>
    <% if area_feed_item.area_type != nil %>
      <b> <%= wrap(area_feed_item.area_type) %></div></b></h4>
    <% end %>
    <% if area_feed_item.number != nil %>
      <div class="content">Τύπος Σκηνής: <%= area_feed_item.number %></div>  
    <% end %>
    <% if area_feed_item.place != nil %>
      <div class="content">Περιοχή Εμφάνισης:<%= wrap(area_feed_item.place) %></div>  
    <% end %>
    <% if area_feed_item.dimension != nil %>
      <div class="content">Διαστάσεις Περιοχής: <%= wrap(area_feed_item.dimension) %></div>  
    <% end %>
 
    <div class="timestamp">
   
    <% if current_user.admin? %>
      <%= link_to "Διαγραφή Περιοχής", area_feed_item, method: :delete,
              data: { confirm: "Είστε σίγουρος για την διαγραφή του σχολίου;" },
          title: area_feed_item.area_type %>
       <%= link_to "Επεξεργασία Περιοχής", edit_area_path(area_feed_item) %>
    <% end %>
    
    </div>
  </div>
</li>