

<h1>
  Καλώς ήρθες <%= @user.name %>
</h1>
<p> Email: <%= @user.email %></p>
<p> Αριθμός Χρήστη: <%= @user.id %></p>
<p>
  <%= link_to "Ο Λογαριασμός μου", @user %>
</p>
<p>
  Σύνολο Σκηνών <%= pluralize(@user.scenes.count, "scene") %>

</p>
