    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <%= link_to "TV_app Administration",    root_path, class: "navbar-brand" %>
            </div>
            <div class="navbar-header">
            <div class="navbar-brand">
              
              
              <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
        <!-- the same as above<div class="alert alert-<%= key %>"><%= value %></div>-->
      <% end %>
            </div>
            </div>
            <div class="navbar-collapse collapse">
              
              <ul class="nav pull-right">
                <% if signed_in? %>
                <% @user=current_user %>
                <li id="fat-menu" class="dropdown">
                <h4><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Λογαριασμός Χρήστη <%= @user.name %><b class="caret"></b>
                </a></h4>
                <ul class="dropdown-menu">
                  <li><%= link_to "Ο Λογιαριασμός μου", user_path(current_user) %></li>
                  <li><%= link_to "Ρυθμίσεις Λογιαριασμού", edit_user_path(current_user) %></li>
                  <% if current_user.admin? %>
                  <li><%= link_to "Χρήστες Σελίδας", users_path %></li>
                  <% end %>
                  <li class="divider"></li>
                  <li>
                  <%= link_to "Έξοδος Χρήστη", signout_path, method: "delete" %>
                  </li>
                </ul>
                </li>
                <% else %>
                <li><%= link_to "Είσοδος Χρήστη", signin_path %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>