<!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
        <%= link_to image_tag(@postthreecolumn1.image_url(:thumb).to_s, alt: "Rails"), myshop_path(:params => params), data: { no_turbolink: true } %>
          <h2><%= @postthreecolumn1.content %></h2>
          <p><%= wrap(@postthreecolumn1.text) %></p>
          <p><%= link_to "Λεπτομέρειες »", myshop_path(:params => params), data: { no_turbolink: true }, class: "btn btn-default" %></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= link_to image_tag(@postthreecolumn2.image_url(:thumb).to_s, alt: "Rails"), lucky_path(:params => params) %>
          <h2><%= @postthreecolumn2.content %></h2>
          <p><%= wrap(@postthreecolumn2.text) %></p>
          <p><%= link_to "Λεπτομέρειες »", lucky_path(:params => params), data: { no_turbolink: true }, class: "btn btn-default" %></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= link_to image_tag(@postthreecolumn3.image_url(:thumb).to_s, alt: "Rails"), tips_path(:params => params) %>
          <h2><%= @postthreecolumn3.content %></h2>
          <p><%= wrap(@postthreecolumn3.text) %></p>
          <p><%= link_to "Λεπτομέρειες »", tips_path(:params => params), class: "btn btn-default" %></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
</div>