<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
  <link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  

  <%= render 'layouts/shim' %>
</head>

  <body>
  	<%= render 'layouts/navbar'  unless @disable_nav%>
    <%= render 'layouts/navbarpages'  unless @disable_navp or !@disable_nav %>
    <%= yield %>
    <div class="container">
      <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <!-- the same as above<div class="alert alert-<%= key %>"><%= value %></div>-->
      <% end %>
    
    <%= render 'layouts/footer'  unless @disable_navp or !@disable_nav %>
    </div>
  </body>
</html>